<!DOCTYPE html>
<html>
<head>
  <title>Manga List</title>
  <style>
    .item{

    }
  </style>
</head>
<body onload="get_list()">
  <div id="list-content">
  </div>
</body>
<script>
  function addEl(item,index){
    let content = document.getElementById("list-content");
    let newEl = document.createElement("div");
    newEl.className = "item";
    newEl.innerHTML = item;
    content.appendChild(newEl);
  }

  async function get_list(){
    let url = "http://127.0.0.1:5000/get_list"
    let response = await fetch(url);
    console.log(response);
    let list_str = await response.json();
    let list = list_str.split('|');
    list.forEach(addEl);
  }
</script>
</html>
