<html>
<head>
</head>
  <style>
    .reading-content{
      padding-left:25%;
      padding-right:25%;
    }
    .page-break{
      position: center;
    }
    .test{
      position:auto;
    }
  </style>
<body onload="loadChapter(2)">
<div class="reading-content" id="reading">
  <div class="page-break">
    <img class="test" src="static/Tower Of Gods/Chapter 2 page 2.png">
  </div>
  <div class="page-break">
    <img class="test" src="static/Tower Of Gods/Chapter 2 page 3.png">
  </div>
</div>
<script>
  var ChapNumber = 2
  document.addEventListener('keydown',handleKey);

  function handleKey(key){
    let code = key.code;
    if(code == 37){
      ChapNumber = ChapNumber-1;
    }
    else if(code == 39){
      ChapNumber = ChapNumber+1;
      window.location.href = "http://127.0.0.1:5000/chapter/"+ChapNumber;
    }
    loadChapter(ChapNumber);
    console.log(ChapNumber);
  }

  async function getChapter(number){
    let url = "http://127.0.0.1:5000/chapterlen/"+number;
    let response = await fetch(url);
    let data = await response.json();
    return data;
  }

  async function loadChapter(number){
    let nPages = await getChapter(number);
    let reading = document.getElementById("reading")
    //cleaning reading
    for(let i=0;i<reading.childElementCount;i++){
      reading.removeChild(reading.children[i]);
    }
    //adding the new stuf
    for(let i=1;i<=nPages;i++){
      let src = "static/Tower Of Gods/Chapter "+number+" page "+i+".png";
      let div = document.createElement("div");
      div.className = "page-break";
      let img = document.createElement("img");
      img.setAttribute('src', src);
      div.appendChild(img);
      reading.appendChild(div);
    }
    console.log("Loaded chapter "+number);
  }



</script>
</body>
</html>
